@import '~bootstrap/scss/bootstrap';
$alt-color: $cyan;
$body-bg-color: $gray-100;
$font-color: $light;

body {
  background-color: $body-bg-color;
  min-height: 100vh;
}

h1, h3 {
  text-align: center;
}

.conteiner {
  margin: auto;
  max-height: 90vh;
  max-width: 90vh;
  width: 90%;
}

.box {
  align-items: center;
  background-color: $secondary;
  border: 1px solid $white;
  color: $font-color;
  display: flex;
  height: 80px;
  justify-content: center;
}

.alt-color {
  background-color: $alt-color;
}
